body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  height: 100vh;
  background: #03045e;
}
header{
  padding-top: 20px;
}
h1{
  color: #caf0f8;
  font-weight: bold;
}
img{
  width: 80px;
}
.item{
  /* background: #222222; */
  background: beige;
  border: 1px solid grey;
}