body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  height: 100vh;
  background: #03045e;
}
header{
  padding-top: 20px;
}
h1{
  color: #caf0f8;
  font-weight: bold;
}
img{
  width: 50px;
  border-radius: 50%;
}
.item-list{
  background: #222222;
  border-radius: 20px;
}
.item{
  border-bottom: 1px solid #1f1f1f;
  display: flex;
  padding: 10px;
  width: 100%;
  position: relative;
}
main{
  color: #caf0f8;
}
.description span{
  font-weight: bold;
  
}
.description p{
  font-size: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.delete{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}